<div id="app">
  {{ message }}
 <div>
   <h1>How much do you spend a Month:</h1>
   Amount: <input type="text" v-model="monthlySpend">
  <button v-on:click="eligibleCards()">Enter</button> 
  <div v-for="card in filteredCards">{{ card.name }}</div>
  <div> {{ sum }}</div>
 </div> 
</div>

<!-- html below here pulls from flights controller - ruby -->

<h1>Plan a trip</h1>
<div><%= form_tag "/flights", method: :get do %>  
Origin City: <input type="text" name="form_origin_city" >
Destination City: <input type="text" name="form_destination_city">
Departure date: <input type="text" name="form_departure_date">
Return date: <input type="text" name="form_return_date">
<input type="submit" value="submit">
<% end %></div>

Retail flight price <%= @response %> 