<script>
  railsRetailFlightPrice = <%= @response %>;
</script>

<div id="app">
  {{ message }}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="SeventyTwo - Premium Coming Soon Template">
    <meta name="author" content="http://choco-pixel.com">
    <title>SeventyTwo - Premium Coming Soon Template</title>

    <!-- Stylesheets -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrapValidator.min.css" rel="stylesheet">
    <link href="css/ladda-themeless.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Preloader -->
    <div id="preloader">
      <div id="status" class="text-center">
        <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
      </div>
    </div>

    <!-- Main -->
    <section class="main text-center" id="home">
      <div class="page">
        <div class="wrapper">
          <div class="container">
           <!--  <img src="img/logo/logo.png" alt="Logo"> -->
            <h1 class="heading">Voiage</h1>
            <p>
            You no longer need to wait and save for your next trip
            </p>
          <!--   <div class="row">
              <div id="countdown"></div>
            </div> -->
            <!-- Subscription form -->
          <h1 class="center-align" >Plan a trip</h1>

<div class="center-align" ><%= form_tag "/flights", method: :get do %> 

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">call_made</i>
          <input id="icon_prefix" type="text" class="validate" name="form_origin_city">
          <label for="icon_prefix">Origin City</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">call_received</i>
          <input id="icon_prefix" type="text" class="validate" name="form_destination_city">
          <label for="icon_prefix">Destination City</label>
        </div>
      </div>
    </form>

<input class="waves-effect waves-light btn" class="center-align" type="submit" value="submit">
<% end %></div>
  </div>
          
          </div>
          <div class="arrow-down">
            <a class="scroll" href="#about" id="scroll"><i class="fa fa-angle-double-down"></i></a>
          </div>
        </div>
      </div>

Vue.js Retail flight price {{ retailFlightPrice }}!!! 
    </section>
<!-- Origin City: <input type="text" name="form_origin_city" >
Destination City: <input type="text" name="form_destination_city"> -->
<!-- Departure date: <input type="text" name="form_departure_date"> -->
<!-- Return date: <input type="text" name="form_return_date"> -->


Retail flight price <%= @response %>
<div>
  <a class="waves-effect waves-light btn" href="http://localhost:3000/flights"> Re-Initialze Fun Generator </a>
</div>
 
<h5 class="center-align">This should be center aligned</h5>
 <div class="center-align" >
   <h1>How much do you spend a Month:</h1>
   Amount: <input type="text" v-model="monthlySpend">
  <button v-on:click="eligibleCards()">Enter</button> 
  <div v-for="card in filteredCards" >
   <!--  <input type="checkbox" name="" v-model="card.cardSelected">{{ card.name }} -->
      <input type="checkbox" class="filled-in" v-bind:id="'filled-in-box' + card.id" v-model="card.cardSelected" v-on:click="toggleChosenCards(card)"/>
      <label v-bind:for="'filled-in-box' + card.id">{{ card.name }}</label>

  </div>
  <div> Sum: {{ sum }} </div>
  <div> bonusSum: {{ bonusSum }} </div>
   <div> timeToAchievement not dynamic: {{ userSpendRequirement }} </div>
  <div> timeToAchievement: {{ timeToAchievement }} </div>
  <div> outOfPocketPrice: {{ outOfPocketPrice }} </div>
 </div> 


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.backstretch.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.vide.min.js"></script>
    <script src="js/bootstrapValidator.min.js"></script>
    <script src="js/validator/emailAddress.js"></script>
    <script src="js/spin.min.js"></script>
    <script src="js/ladda.min.js"></script>
    <script src="js/retina.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/init.js"></script>
  </body>
</html>
</div>

</div>