<div id="app">
  {{ message }}

<!-- html below here pulls from flights controller - ruby -->
<h1 class="center-align" >Plan a trip</h1>

<div class="center-align" ><%= form_tag "/flights", method: :get do %> 

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">call_made</i>
          <input id="icon_prefix" type="text" class="validate" name="form_origin_city">
          <label for="icon_prefix">Origin City</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">call_received</i>
          <input id="icon_prefix" type="text" class="validate" name="form_destination_city">
          <label for="icon_prefix">Destination City</label>
        </div>
      </div>
    </form>

<input class="center-align" type="submit" value="submit">
<% end %></div>
  </div>

<!-- Origin City: <input type="text" name="form_origin_city" >
Destination City: <input type="text" name="form_destination_city"> -->
<!-- Departure date: <input type="text" name="form_departure_date"> -->
<!-- Return date: <input type="text" name="form_return_date"> -->


Retail flight price <%= @response %> 
<div>
  <a class="waves-effect waves-light btn" href="http://localhost:3000/flights"> Re-Initialze Fun Generator </a>
</div>
 
<h5 class="center-align">This should be center aligned</h5>
 <div class="center-align" >
   <h1>How much do you spend a Month:</h1>
   Amount: <input type="text" v-model="monthlySpend">
  <button v-on:click="eligibleCards()">Enter</button> 
  <div v-for="card in filteredCards" >
   <!--  <input type="checkbox" name="" v-model="card.cardSelected">{{ card.name }} -->
      <input type="checkbox" class="filled-in" v-bind:id="'filled-in-box' + card.id" v-model="card.cardSelected" v-on:click="toggleChosenCards(card)"/>
      <label v-bind:for="'filled-in-box' + card.id">{{ card.name }}</label>

  </div>
  <div> Sum: {{ sum }} </div>
  <div> bonusSum: {{ bonusSum }} </div>
   <div> timeToAchievement not dynamic: {{ userSpendRequirement }} </div>
  <div> timeToAchievement: {{ timeToAchievement }} </div>
 </div> 

</div>