<div id="app">
  {{ message }}
 <div>
   <h1>How much do you spend a Month:</h1>
   Amount: <input type="text" v-model="monthlySpend">
  <button v-on:click="eligibleCards()">Enter</button> 
  <div v-for="card in filteredCards">{{ card.name }}</div>
 </div> 
</div>


