// Place all the styles related to the Flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chosen {
  background-color:#FFFF00;
}

.overlay {
    position: relative;
    transition: all 3s;
    background:rgba(0,0,0,0.0);
    opacity: 0;
}

.overlay:after {
    content: '\A';
    position: absolute;
    width: 100vw; 
    height: 100vh;
    top:0; 
    left:0;
    background:rgba(0,0,0,0.8);
    opacity: 1;
    transition: all 3s;
}
.overlay:hover:after {
    opacity: 0;
}